:root {
  --primary-color: #1495f4;
  --my-text: #99a1af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body {
  min-height: 100vh;
  background-color: #f3f4f6;
  display: flex;
  /* justify-content: center; */
}

.container {
  background-color: rgb(228, 219, 228);
  padding: 0 50px;
}

.container > div#input-wrapper {
  margin-top: 100px;
  display: flex;
  gap: 15px;
  align-items: center;
  width: 320px;
  background-color: #fff;
  color: var(--my-text);
  border: 2px solid #99a1af;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: 0.2s ease all;
}

.container > div#input-wrapper.open {
  border: 2px solid var(--primary-color);
}

.container > div#input-wrapper > i.fa-chevron-down.open {
  transform: rotate(180deg);
}

.container > div#input-wrapper > i.fa-chevron-down,
.container > div.dt-picker > div:first-child > div > i {
  cursor: pointer;
  transition: 0.2s ease all;
}

.container > div > div > input {
  border: none;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  /* background-color: purple; */
  color: #000;
  pointer-events: none;
}

.container > div > div > input:focus {
  border: none;
  outline: none;
}

.container > div > div > label {
  position: absolute;
  left: 0;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--my-text);
  transition: all 0.2s ease;
  pointer-events: none;
}


.container > div > .date-input > input:focus + label,
.container > div > .date-input > input:not(:placeholder-shown) + label {
  color: var(--primary-color);
  transform: translate(-10px, -30px) scale(0.8);
}

.container > div#input-wrapper > div.date-input {
  transition: all 0.2s ease;
  position: relative;
  flex: 1;
}

.date-input:has(input:focus),
.date-input:has(input:not(:placeholder-shown)) {
  margin-top: 10px;

}


.container > div.dt-picker {
  transition: 0.2s ease all;
  opacity: 0;
  transform: scale(0.95);
  width: 320px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.container > div.dt-picker.open {
  opacity: 1;
  transform: scale(1);
}

.container > div.dt-picker > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.container > div.dt-picker > div:first-child > div:last-child {
  display: flex;
  gap: 20px;
  align-items: center;
}

.container > div.dt-picker > div:first-child > div > i {
  color: var(--my-text);
}

.container > div.dt-picker > div:first-child > div:first-child > span {
  font-weight: 600;
  font-size: 20px;
}

.container > div.dt-picker > div:nth-child(2) > div.weekdays {
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  margin-bottom: 15px;
}

.container > div.dt-picker > div:nth-child(2) > div.weekdays > div {
  text-align: center;
}

.container > div.dt-picker > div:nth-child(2) > div.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 10px;
  margin-bottom: 15px;
}

.container > div.dt-picker > div:nth-child(2) > div.dates > button {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: none;
  background: transparent;
    border-radius: 50%;
}

.container > div.dt-picker > div:nth-child(2) > div.dates > button:disabled:hover {
  background: transparent;
  cursor: auto;
}

.container > div.dt-picker > div:nth-child(2) > div.dates > button:hover {
  cursor: pointer;
}

.container > div.dt-picker > div:nth-child(2) > div.dates > button.today {
  color: var(--primary-color)
}

.container > div.dt-picker > div:nth-child(2) > div.dates > button.selected {
  background: var(--primary-color) !important;
  color: #fff !important;
} 

.container > div.dt-picker > div:nth-child(2) > div.btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
}

.container > div.dt-picker > div:nth-child(2) > div.btns > button {
  width: 50%;
  border-radius: 25px;
  border: none;
  padding: 8px 0;
}

.container > div.dt-picker > div:nth-child(2) > div.btns > button:hover {
  cursor: pointer;
}

.container > div.dt-picker > div:nth-child(2) > div.btns > button:first-child {
  background: var(--my-text);
  color: #fff;
}

.container > div.dt-picker > div:nth-child(2) > div.btns > button:last-child {
  background: var(--primary-color);
  color: #fff;
}
